In [1]:
import sys
import os
import torch
path = os.getcwd()
sys.path.append(os.path.abspath(os.path.join(path, '..')))

from data.scripts.dataset import CrisisDataset
from src.approaches.vanilla import Vanilla
from src.approaches.ewc import ElasticWeightsConsolidation
from src.approaches.si import SynapticIntelligence
from src.approaches.cumulative import Cumulative
from src.approaches.mas import MemoryAwareSynapses
from src.approaches.agem import AverageGradientOfEpisodicMemory
from src.approaches.ner import NaiveExperienceReplay

from transformers import RobertaTokenizer

p:\Programmes\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
batch_size = 64
model_name = "roberta-base"
tokenizer = RobertaTokenizer.from_pretrained(model_name)
task_type = ["humanitarian", "urgency", "utility"]

data = CrisisDataset(
    tokenizer=tokenizer,
    batch_size=batch_size,
    task_type=task_type,
    dataset="FrenchCorpus"
)

Processing crisis type : Flood
Processing crisis type : Storms
Processing crisis type : Collapse
Processing crisis type : Hurricane
Processing crisis type : ATTACK
Processing crisis type : Explosion
Processing crisis type : Fire

✅ Dataset created with 4 crisis

In [6]:
(3300-410)*0.018 + 410*0.034

65.96

In [3]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

model = NaiveExperienceReplay(data, device, M=5)
model.pipeline(data, nb_epochs=1, idx=1)

Pipeline for ner with a continual learning framework

Training on order Flood, Storms, Collapse, Hurricane | 1/4

Training on split 1/3


New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Flood | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:08<00:00,  8.37s/it, humanitarian=0.0571, urgency=0.205, utility=0.67]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 350.78it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Storms | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:31<00:00, 31.43s/it, humanitarian=0.296, urgency=0.306, utility=0.577]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 379.06it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 0, 'Hurricane': 0}

Collapse | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:12<00:00, 12.34s/it, humanitarian=1, urgency=1, utility=1]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 673.13it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:15<00:00, 15.47s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 766.92it/s]

Model Testing...

Scores during training on Hurricane

Training on split 2/3


New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Flood | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:09<00:00,  9.14s/it, humanitarian=0.0571, urgency=0.194, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 735.46it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Storms | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:27<00:00, 27.27s/it, humanitarian=0.222, urgency=0.296, utility=0.448]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 660.00it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 0, 'Hurricane': 0}

Collapse | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:11<00:00, 11.15s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 474.84it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:14<00:00, 14.54s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 425.21it/s]

Model Testing...

Scores during training on Hurricane

Training on split 3/3


New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Flood | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:08<00:00,  8.68s/it, humanitarian=0.0833, urgency=0.338, utility=0.495]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 467.70it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Storms | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:26<00:00, 26.16s/it, humanitarian=0.112, urgency=0.296, utility=0.444]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 546.35it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 0, 'Hurricane': 0}

Collapse | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:11<00:00, 11.35s/it, humanitarian=1, urgency=1, utility=1]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 618.26it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:13<00:00, 13.87s/it, humanitarian=0.444, urgency=0.444, utility=0.444]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 589.83it/s]

Model Testing...

Scores during training on Hurricane

Score for order Flood, Storms, Collapse, Hurricane

p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3807: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3808: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

Training on order Storms, Collapse, Hurricane, Flood | 2/4

Training on split 1/3


New data  Storms
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Storms | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:27<00:00, 27.60s/it, humanitarian=0.0375, urgency=0.279, utility=0.398]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 535.60it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 0, 'Hurricane': 0}

Collapse | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:07<00:00,  7.99s/it, humanitarian=1, urgency=1, utility=1]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 442.20it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:11<00:00, 11.46s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 471.32it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 5, 'Hurricane': 5}

Flood | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:16<00:00, 16.75s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 780.19it/s]

Model Testing...

Scores during training on Flood

Training on split 2/3


New data  Storms
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Storms | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:27<00:00, 27.50s/it, humanitarian=0.0738, urgency=0.209, utility=0.45]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 581.57it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 0, 'Hurricane': 0}

Collapse | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:07<00:00,  7.47s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 693.96it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:10<00:00, 10.62s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 762.05it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 5, 'Hurricane': 5}

Flood | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:20<00:00, 20.74s/it, humanitarian=0.15, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 710.30it/s]

Model Testing...

Scores during training on Flood

Training on split 3/3


New data  Storms
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Storms | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:29<00:00, 29.28s/it, humanitarian=0.0222, urgency=0.477, utility=0.681]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 435.14it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 0, 'Hurricane': 0}

Collapse | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:07<00:00,  7.38s/it, humanitarian=1, urgency=1, utility=1]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 499.38it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:12<00:00, 12.06s/it, humanitarian=0.444, urgency=0.444, utility=0.444]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 712.23it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 5, 'Collapse': 5, 'Hurricane': 5}

Flood | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:17<00:00, 17.06s/it, humanitarian=0.15, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 734.43it/s]

Model Testing...

Scores during training on Flood

Score for order Storms, Collapse, Hurricane, Flood

p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3807: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3808: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

Training on order Collapse, Hurricane, Flood, Storms | 3/4

Training on split 1/3


New data  Collapse
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Collapse | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:05<00:00,  5.96s/it, humanitarian=0, urgency=0.444, utility=0]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 650.89it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:08<00:00,  8.95s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 453.63it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 5, 'Hurricane': 5}

Flood | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:21<00:00, 21.05s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 517.37it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 5, 'Hurricane': 5}

Storms | 4/4 | Epoch 1: 100%|██████████| 1/1 [01:02<00:00, 62.05s/it, humanitarian=0.296, urgency=0.296, utility=0.444]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 41.06it/s]

Model Testing...

Scores during training on Storms

Training on split 2/3


New data  Collapse
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Collapse | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:05<00:00,  5.79s/it, humanitarian=0.133, urgency=0.286, utility=0.375]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 501.11it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:08<00:00,  8.13s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 498.85it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 5, 'Hurricane': 5}

Flood | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:17<00:00, 17.39s/it, humanitarian=0.15, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 397.45it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 5, 'Hurricane': 5}

Storms | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:54<00:00, 54.19s/it, humanitarian=0.222, urgency=0.296, utility=0.386]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 40.67it/s]

Model Testing...

Scores during training on Storms

Training on split 3/3


New data  Collapse
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Collapse | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:06<00:00,  6.47s/it, humanitarian=0.286, urgency=0, utility=0.444]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 507.66it/s]

Model Testing...

Scores during training on Collapse

New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 5, 'Hurricane': 0}

Hurricane | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:12<00:00, 12.35s/it, humanitarian=0.444, urgency=0.444, utility=0.444]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 724.91it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 5, 'Hurricane': 5}

Flood | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:14<00:00, 14.62s/it, humanitarian=0.15, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 419.43it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 5, 'Hurricane': 5}

Storms | 4/4 | Epoch 1: 100%|██████████| 1/1 [01:00<00:00, 60.12s/it, humanitarian=0.222, urgency=0.296, utility=0.444]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 187.00it/s]

Model Testing...

Scores during training on Storms

Score for order Collapse, Hurricane, Flood, Storms

p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3807: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3808: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

Training on order Hurricane, Flood, Storms, Collapse | 4/4

Training on split 1/3


New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Hurricane | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:06<00:00,  6.06s/it, humanitarian=0.367, urgency=0.133, utility=0.286]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 794.68it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 5}

Flood | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:12<00:00, 12.16s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 648.47it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 0, 'Hurricane': 5}

Storms | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:35<00:00, 35.14s/it, humanitarian=0.296, urgency=0.296, utility=0.577]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 252.32it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 0, 'Hurricane': 5}

Collapse | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:17<00:00, 17.32s/it, humanitarian=1, urgency=1, utility=1]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 482.55it/s]

Model Testing...

Scores during training on Collapse

Training on split 2/3


New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Hurricane | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:05<00:00,  5.85s/it, humanitarian=0.111, urgency=0.25, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 649.98it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 5}

Flood | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:12<00:00, 12.49s/it, humanitarian=0.15, urgency=0.25, utility=0.293]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 391.00it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 0, 'Hurricane': 5}

Storms | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:36<00:00, 36.53s/it, humanitarian=0.222, urgency=0.296, utility=0.515]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 321.85it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 0, 'Hurricane': 5}

Collapse | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:16<00:00, 16.50s/it, humanitarian=0.25, urgency=0.25, utility=0.375]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 545.57it/s]

Model Testing...

Scores during training on Collapse

Training on split 3/3


New data  Hurricane
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 0}

Hurricane | 1/4 | Epoch 1: 100%|██████████| 1/1 [00:07<00:00,  7.38s/it, humanitarian=0.19, urgency=0.133, utility=0.375]

Adding Hurricane in memory...: 100%|██████████| 1/1 [00:00<00:00, 715.02it/s]

Model Testing...

Scores during training on Hurricane

New data  Flood
Memory Size : {'Flood': 0, 'Storms': 0, 'Collapse': 0, 'Hurricane': 5}

Flood | 2/4 | Epoch 1: 100%|██████████| 1/1 [00:11<00:00, 11.49s/it, humanitarian=0.15, urgency=0.25, utility=0.6]

Adding Flood in memory...: 100%|██████████| 1/1 [00:00<00:00, 635.79it/s]

Model Testing...

Scores during training on Flood

New data  Storms
Memory Size : {'Flood': 5, 'Storms': 0, 'Collapse': 0, 'Hurricane': 5}

Storms | 3/4 | Epoch 1: 100%|██████████| 1/1 [00:34<00:00, 34.06s/it, humanitarian=0.222, urgency=0.296, utility=0.444]

Adding Storms in memory...: 100%|██████████| 1/1 [00:00<00:00, 706.47it/s]

Model Testing...

Scores during training on Storms

New data  Collapse
Memory Size : {'Flood': 5, 'Storms': 5, 'Collapse': 0, 'Hurricane': 5}

Collapse | 4/4 | Epoch 1: 100%|██████████| 1/1 [00:13<00:00, 13.58s/it, humanitarian=1, urgency=1, utility=1]

Adding Collapse in memory...: 100%|██████████| 1/1 [00:00<00:00, 721.41it/s]

Model Testing...

Scores during training on Collapse

Score for order Hurricane, Flood, Storms, Collapse

p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3807: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
p:\Programmes\Python\Python313\Lib\site-packages\pandas\io\formats\style.py:3808: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

------------------------------------------------------

Final Scores